<div class="container">

  <div class="row mt-5">
    <div class="col-lg-4 canvas">
        <canvas id="ChartGDP"></canvas>
        <script>barGraphfunction("ChartGDP")</script>
        <%= link_to "", :controller => "noz_stats", :action => "table" %>
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4">
        <canvas id="myChart2"></canvas>
        <script>barGraphfunction("myChart2")</script>
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
  </div>


</div>

<p>（仮）確認用に表示しているだけ（後で消す）</p>
<% @db_datas.each do |cat_list| %>
  date_code:<%= cat_list.date_code %>
  <br>
  date_name:<%= cat_list.date_name %>
  <br>
  category_code:<%= cat_list.category_code %>
  <br>
  category_name:<%= cat_list.category_name %>
  <hr>
<% end %>

